.titleMisListas {
    /*color: brown; font: bold;*/
    padding-left: 15px;
}

.chooseList{
    padding-left: 15px;
    font-size: 25px;
}

.addToList{
    padding-left: 15px;
}

ul{
    list-style-type: none;
    /*numero a partir del cual se añade una columna mas*/
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2;
}

li {
    padding-bottom: 2px;
    /*float: left;*/
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.ingButton{
    size: 820px;
}

.deleteButton{
    size: 120px;
}

/*:host { 
    .mat-icon {
     width: 50px;
     height: 50px;
     font-size: 56px;
   }
 }*/


 .mat-fab {
     /*padding-top: 15px;
     padding-bottom: 15px;
     padding-left: 15px;
     padding-right: 15px;*/

    width: 50px;
    height: 50px;
    font-size: 56px;
  }

  .mat-raised-button{
    width: 200px;
    height: 100px;
    font-size: 20px;
  }