<br *ngIf="deviceXs === false">

<div id=headLists style = "margin: 10px 20px 0px 15px;">
<div id="wrapper" style="clear: both;">
  <span>      </span>
<div id = "addToList">    
  <mat-form-field  class="example-form-field">
    <mat-label>Añadir a la lista: </mat-label>
      <form (submit)="addElement(newElement)">
        <input matInput type="text" maxlength="10" #newElement name="newElement" [(ngModel)] ="new" (click) = activar()>
      </form>
  </mat-form-field>
  <button mat-button *ngIf="new" matSuffix mat-icon-button aria-label="Clear" (click)="new=''">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div *ngIf="deviceXs === false" id= "defList">Lista Predeterminada 
  <button id="go" mat-fab color="accent" style = "font-size: 20px;" (click) = defList()>Go!</button>
</div>
</div>
</div>

<div *ngIf="deviceXs">
  <mat-icon id="defHeart" color="accent" (click) = defList()>favorite</mat-icon>
</div>
<br *ngIf="deviceXs === false">

<div id="wrapper" style="clear: both;">
<ul *ngIf ="activated">
  <li *ngFor="let elemento of elementos; let i = index; trackBy: tracked" >
    <div><button mat-raised-button color="primary" id="elementButton" type="button" (click) = "whenClicked[i]=!whenClicked[i]" [ngClass]="whenClicked[i] ? 'green' : 'accent'" >
    <!--{{i+1}} -->{{elemento}} 
    <button  mat-button matSuffix mat-icon-button  (click) = "whenClicked[i]=false; deleteElement(elemento)">
      <mat-icon>close</mat-icon>
    </button></button>
  </div>
  </li>
</ul>
</div>
<i *ngIf = "elementos.length > 0" class="material-icons" style = "color: grey;" (click)="elementos=[]">clear_all</i>

<br>